body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:73px;
  width:931px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  word-wrap:break-word;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:27px;
  width:105px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:258px;
  width:931px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:212px;
  width:105px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:444px;
  width:931px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:398px;
  width:479px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:600px;
  width:47px;
  height:47px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:620px;
  width:47px;
  height:47px;
  color:#FF0000;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:600px;
  width:47px;
  height:47px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:620px;
  width:47px;
  height:47px;
  color:#FF0000;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:600px;
  width:47px;
  height:47px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:600px;
  width:47px;
  height:47px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:600px;
  width:47px;
  height:47px;
  color:#0000FF;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:569px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:569px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:600px;
  width:47px;
  height:47px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:620px;
  width:47px;
  height:47px;
  color:#FF0000;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:600px;
  width:47px;
  height:47px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:620px;
  width:47px;
  height:47px;
  color:#FF0000;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:600px;
  width:47px;
  height:47px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:600px;
  width:47px;
  height:47px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:600px;
  width:47px;
  height:47px;
  color:#0000FF;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:694px;
  width:906px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  word-wrap:break-word;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:908px;
  width:931px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:862px;
  width:578px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  white-space:nowrap;
}
