body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:61px;
  width:574px;
  height:60px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:26px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:150px;
  width:574px;
  height:60px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:228px;
  width:279px;
  height:471px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:237px;
  width:30px;
  height:29px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:236px;
  width:30px;
  height:30px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:2px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:276px;
  width:279px;
  height:1px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:569px;
  width:82px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:272px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:276px;
  width:279px;
  height:272px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:471px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.949019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:228px;
  width:279px;
  height:471px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:275px;
  word-wrap:break-word;
}
