body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:1909px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:1909px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:860px;
  width:300px;
  height:170px;
  text-align:left;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  word-wrap:break-word;
}
