body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1209px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:275px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:308px;
  width:489px;
  height:107px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1045px;
  width:489px;
  height:288px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1355px;
  width:734px;
  height:240px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:326px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:322px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:245px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:58px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:30px;
  width:326px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:322px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:58px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:30px;
  width:245px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:241px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:76px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:163px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:159px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:76px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:88px;
  width:326px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:322px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:88px;
  width:245px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:241px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:76px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:163px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:159px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:76px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:164px;
  width:326px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:322px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:164px;
  width:245px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:10px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:53px;
  width:819px;
  height:160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:531px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:308px;
  width:299px;
  height:531px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:308px;
  width:300px;
  height:530px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:528px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1045px;
  width:298px;
  height:528px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 252, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1136px;
  width:156px;
  height:20px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 252, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1193px;
  width:156px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 252, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1249px;
  width:156px;
  height:20px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:660px;
  width:45px;
  height:31px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:759px;
  width:114px;
  height:31px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
